<div class="myCard">
    <div class="myTitle">
        <label for="myTitle">CORTES</label>
    </div>
    <app-card-information [Cards]="CardInfo" (onClicked)="onClick($event)"></app-card-information>

    <button *ngIf="ActiveFilter != 0" matTooltip="Filtros" matTooltipClass="tooltip" [matTooltipPosition]="'left'"
        class="add" mat-mini-fab color="secundary">
        <mat-icon>filter_list</mat-icon>
    </button>

    <!-- EMPIEZA CONTENIDO -->
    <div class="conteiner" [ngClass]="{ 'wrap' : Floating || CPropio, 'column': Floating, 'row': !Floating }">
        <!-- EMPIEZA FILTROS -->
        <app-filters-cibers class="filters-cibers" *ngIf="CClientes" (onCiber)="selectClient($event)" (onDate)="selectDate($event)"
            [ngStyle]=" Floating ? {'width': '40px', 'height': '40px'} : {'width': 'fit-content', 'height': 'fit-content'}"
            (onFloat)="Floating = $event"  [Fechas]="CDates" [Clientes]="Clientes"
            [FechaSelect]="DateSelect"></app-filters-cibers>


        <!-- FILTRO CORTE PERSONAL -->
        <div *ngIf="CPropio" class="mySubCard">
            <app-dropdown [Data]="MyDates" [Key]="'corte'" [DataSelect]="DateSelect "
                (Select)="getMyCorte($event)"></app-dropdown>
        </div>
        <!-- TERMINA FILTROS -->
        <!-- TABLA DE CORTE -->
        <div class="flex-child tablas" *ngIf="showTable">
            <app-details-corte [rowData]="rowData" [nombreNegocio]="NameSelect"></app-details-corte>
        </div>

    </div>
    <!-- TERMINA CONTENIDO -->
</div>