<h2>ELIGE LOS COLORES</h2>

<mat-dialog-content class="mat-typography">
    <div class="inputs">
        <div *ngFor="let color of PICK_COLOR">
            <input (change)="onChange($event)" type="color" value="{{ color.Value }}">
            <label for="color"> {{ color.Type }} </label>
        </div>
    </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <app-action-button (onClick)="onOk()" [Legend]="'Ok'"></app-action-button>
    <app-action-button (onClick)="onCancel()" [Legend]="'Cancelar'"></app-action-button>
</mat-dialog-actions>