<div class="fondo">
  <div class="form">
    <h3>INGRESAR</h3>
    <input type="text" [(ngModel)]="USERNAME" name="USERNAME" />
    <input type="password" [(ngModel)]="PASSWORD" name="PASSWORD" />
    <button (click)="LogIn()">Iniciar Sesión</button>
  </div>
</div>

<div class="snowflake-one snowflake"></div>
<div class="snowflake-two snowflake"></div>
<div class="snowflake-three snowflake"></div>
<div class="snowflake-four snowflake"></div>
<div class="snowflake-five snowflake"></div>
<div class="snowflake-six snowflake"></div>
<div class="snowflake-seven snowflake"></div>
<div class="snowflake-eight snowflake"></div>
<div class="snowflake-nine snowflake"></div>
<div class="snowflake-ten snowflake"></div>
<div class="snowflake-eleven snowflake"></div>
<div class="snowflake-twelve snowflake"></div>
<div class="snowflake-thirteen snowflake"></div>
