@import url(../../../shared/styles/cards.scss);
@import url(../../../shared/styles/flexboxgrid.min.scss);

.row {
    align-items: center;
    padding: 0 5rem;
}

.col {
    padding: 1rem;
    width: 95%;
}

.add {
    width: 3rem;
    height: 3rem;
    position: fixed;
    bottom:35px;
    right:35px;
}

.tooltip {
    text-transform: uppercase;
    font-size: 1rem;
}

app-empty-state {
    width: 100%;
    margin: 3rem 0.5rem;
}