@import url(../../../../styles/table.scss);

.apps {
    position: fixed;
    bottom: 110px;
    right: 35px;
    width: 3rem;
    height: 3rem;
}

.cancel {
    cursor: pointer;
    font-size: 15px;
    color: red;
}


.menu {
    height: fit-content;
    max-height: 26rem;
    overflow: auto;
    label {
        font-weight: 600;
    }
    
    text-align: center;
    color: white;
    z-index: 9;
    bottom: 170px;
    right: 35px;
    position: fixed;
    border-radius: 0.375rem;
    width: fit-content;
    padding: 1rem;
    background-color: #212529;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    label {
        margin-top: 3%;
    }

    .warning {
        color: #ffdc3e;
    }
}

p {
    margin: 0 !important;
    width: fit-content;
}

mat-icon {

    width: fit-content;
    height: fit-content;
    vertical-align: middle;
}

.btn {
    cursor: pointer;
    margin: 0 15px;
    vertical-align: middle;
    align-items: center;
    background-color: #ce6a20;

    width: fit-content;
    height: fit-content;

    border-radius: 50%;
    padding: 0.1rem;
}

.triangle {
    position: relative;
    height: 0;
    width: 0;
    border-left: 1.5em solid transparent;
    border-right: 1.5em solid transparent;
    border-top: 1.5em solid #212529;
    margin: 0 auto -1.75em auto;
    top: 0.75em;
    right: -14.9rem;
    z-index: 9;
}

.tra {
    animation-duration: 0.5s;
}