@import '../../../styles/colors.scss';

.Card {
  width: 300px;
  max-width: 300px;
  overflow-x: hidden;
  background-color: rgb(255, 255, 255);
  display: flex;
  transition: 0.3s;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
  outline: 4px solid rgba(94, 94, 94, 0.171);
  &:hover {
    box-shadow: 0 0 0 8px rgba(0, 132, 255, 0.363);
  }
  margin: 15px;
}

.Card-head {
  position: relative;
  display: flex;
  height: 200px;
  width: 100%;
  transition: 0.3s;
}

.Card-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  height: 220px;
  top: -20%;
  left: 0;
  background-size: cover;
  background-position: center;
  filter: blur(0.5px);
  transform: scale(1.2);
  transition: 0.5s;
}

.Card-filename {
  text-align: center;
  line-height: 1.6;
  color: #636b6f;
  font-size: 13px;
  margin-left: 1rem;
  font-weight: 400;
  white-space: nowrap;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  opacity: 0.7;
}

.Card-main {
  background-color: #fff;
  position: relative;
  flex: 1;
  display: flex;
  padding-top: 10px;
  flex-direction: column;
}

.Card-genre {
  margin-left: 1rem;
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 8px;
}

.Card-titleContent {
  margin-left: 0.1rem;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 8px;
  text-align: center;
}

.Card-subTitleContent {
  margin-left: 1rem;
  font-weight: 700;
  font-size: 12px;
  opacity: 0.9;
  margin-bottom: 8px;
  text-align: center;
  white-space: nowrap;
}

.Card-desc {
  margin: 0;
  line-height: 1.6;
  color: #636b6f;
  font-size: 14px;
  margin-left: 1rem;
  line-height: 1.6;
  color: #636b6f;
  font-size: 13px;
  font-weight: 400;
  white-space: nowrap;
  font-weight: 500;
  opacity: 0.7;
  white-space: pre-line;
}
.Card-footer {
  text-align: center;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  label {
    margin-bottom: 0.1rem;
  }
}

.Button {
    outline: none;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    fa-icon{
        margin-right: 0.5rem;
    }
    margin-top: 0.2rem;

}

.backgroud-disabled {
    color: #fff;
    font-weight: 600;
    background-color: $disabled;
    &:hover{
        background-color: #3e4347;
    }
}


.backgroud-warning {
    color: #19191a;
    font-weight: 600;
    background-color: #ffc107;
    &:hover{
        background-color: #dba709;
    }
}

.backgroud-primary {
  color: #fff;
  font-weight: 600;
  background-color: $primary;
  &:hover{
      background-color: #0e5ace;
  }
}

.backgroud-danger {
    color: #fff;
    font-weight: 600;
    background-color: $danger;
    &:hover{
        background-color: #ac2d3a;
    }
}
.backgroud-success {
    color: #fff;
    font-weight: 600;
    background-color: $success;
    &:hover{
        background-color: #156841;
    }
}