@import url(../../../shared/styles/headers.scss);
@import url(../../../shared/styles/cards.scss);
@import url(../../../shared/styles/bootstrap.min.scss);

.btn {
    margin-top: 4px;
    height: 30px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: #198754;
    border-color: rgb(108, 117, 125);
    padding: 6px 12px;
    font-size: 0.8rem;
    border: 1px solid #6c757d;
    border-radius: 0.375rem 0.375rem;
    border: 0;
    &:hover{
        color: white;
        background-color: #135838;
    }
}

.btn2 {
    margin-top: 4px;
    height: 30px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: #dc3545;
    border-color: rgb(108, 117, 125);
    padding: 4px 10px;
    font-size: 0.8rem;
    border: 1px solid #6c757d;
    border-radius: 0.375rem 0.375rem;
    border: 0;
    &:hover{
        color: white;
        background-color: #a82835;
    }
}
.btn3 {
    margin-top: 4px;
    height: 30px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: #9b0918;
    border-color: rgb(108, 117, 125);
    padding: 4px 10px;
    font-size: 0.8rem;
    border: 1px solid #6c757d;
    border-radius: 0.375rem 0.375rem;
    border: 0;
    &:hover{
        color: white;
        background-color: #a82835;
    }
}
h1 {
    font-size: 1em;
    font-weight: 300;
    line-height: 1em;
    text-align: center;
    color: #4DC3FA;
}
h5 {
    color: #e2e2e2;
    font-weight: 300;
    text-align: center;
    display: block;
    line-height: 1em;
    padding-bottom: 2em;
}
h2 {
    font-size: 0.8em;
    font-weight: 300;
    text-align: center;
    display: block;
    line-height: 1em;
    padding-bottom: 2em;
    color: #FB667A;
}

h2 a {
    font-weight: 700;
    text-transform: uppercase;
    color: #FB667A;
    text-decoration: none;
}

.blue {
    color: #185875;
}

.yellow {
    color: #d4cd69;
}


@media (max-width: 800px) {

    .container td:nth-child(4),
    .container th:nth-child(4) {
        display: none;
    }
}

.filtro{
    margin-right: 20px;
}
.box {
    position: absolute;
    top: 19.5%;
    left: 55%;
    transform: translate(-50%, -50%);
  }
  .box2 {
    position: absolute;
    top: 14.5%;
    left: 55%;
    transform: translate(-50%, -50%);
  }
  .box select {
    background-color: #454d55;
    color: white;
    padding: 10px;
    width: 210px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  
  .box::before {
    content: "\f13a";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  
  .box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .box select option {
    padding: 30px;
  }
  ///
  .box2 select {
    background-color: #454d55;
    color: white;
    padding: 10px;
    width: 210px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  
  .box2::before {
    content: "\f13a";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  
  .box2:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .box2 select option {
    padding: 30px;
  }
