<h2>SELECCIONA LA FORMA DEL ACTA</h2>

<mat-dialog-content class="mat-typography">
    <div class="row">

        <div class="selectionable" *ngFor="let pref of Preferences" (click)="SelectPreferences(pref)">
            <img src="assets/images/preferences/{{pref}}.png" alt="Normal">
            <div class="footer">
                <span *ngIf="pref == 1">Simple</span>
                <span *ngIf="pref == 2">Con Reverso</span>
                <span *ngIf="pref == 3">Con Folio</span>
            </div>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <app-action-button [Legend]="'Cancelar'" [Icon]="faXmark" mat-dialog-close></app-action-button>

</mat-dialog-actions>