
  app-action-button{
    margin: 0 0.5rem;
    .myButtonOn, .myButtonOff{
        letter-spacing: 0px !important;
    }

  }

  .mat-typography {
    margin-top: 0.8rem;
    font-size: 1rem;
    font-weight: 400;
}