<div class="myBody">
    <div class="mySubCard">
        <div class="mySubTitle">
            <label for="mySubTitle">{{ Title }}</label>
        </div>

        <div class="options" [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </div>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onChangeView()"> 
                <mat-icon *ngIf="ModeView == 'Lista'">more_vert</mat-icon>
                <mat-icon *ngIf="ModeView == 'Tarjeta'">more_horiz</mat-icon> 
                {{ ModeView }} 
            </button>
            <button mat-menu-item (click)="onFilterDwn()">
                <mat-icon *ngIf="noDownload">done</mat-icon>
                No Descargadas
            </button>
            <button mat-menu-item *ngIf="Rol == 1 || Rol == 2" (click)="onFilterAssgn()">
                <mat-icon *ngIf="noAssign">done</mat-icon>
                No Asignadas
            </button>
        </mat-menu>
        
        <div class="filters">
            <ng-container *ngFor="let filter of Filters">
            <div class="filter" [style.width.rem]="filter.Width">
                <h6> {{ filter.Title }} </h6>

                <ng-container *ngIf="filter.Type == 'Searcher'">
                    <div class="input-group">
                        <input
                            matTooltip="{{ filter.Tooltip }}"
                            
                          type="text"
                          class="form-control"
                          placeholder="BUSCAR"
                          aria-label="Recipient's username"
                          aria-describedby="basic-addon2"
                          (keyup)="onKeySearcher(filter, $event)"
                        />
                        <span class="input-group-text" id="basic-addon2">
                          <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
                        </span>
                      </div>
                </ng-container>

                <ng-container *ngIf="filter.Type == 'Dropdown'">

                    <div class="dropdown">
                        <button matTooltip="{{ filter.Tooltip }}" class="btn" mat-button [matMenuTriggerFor]="beforeMenu">{{ filter.Content?.Default }}</button>
                        <mat-menu #beforeMenu="matMenu" xPosition="before">
                            <ng-container *ngFor="let opt of filter.Content?.Options">
                                <button mat-menu-item (click)="onClickDropdown(filter, opt[filter.Content!.Key])" [ngClass]="{ 'active': opt == filter.Content?.Default }"> {{ opt[filter.Content!.Key] }} </button>
                            </ng-container>
                        </mat-menu>
                    </div>

                </ng-container>

                

            </div>
        </ng-container>
        </div>
    </div>
</div>