.myBody {
    display: flex;
    list-style: none;
    flex-flow: wrap;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    /* position: relative; */
}
.space {
    justify-content: space-around;
}
.conteiner{
    width: 300px;
    background-color: #fff;
    border-radius: 7px;
    padding: 30px 35px 0 35px;
    color:#000000;
    align-items: center;
}