@import 'colors.scss';

.input-group {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
.form-control {
    text-transform: uppercase;
  background-color: white;
  padding: 6px 12px;
  line-height: 1.5;
  color: #212529;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.375rem 0 0 0.375rem;
  flex: 1 1 auto;
  outline: none;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0 0.375rem 0.375rem 0;
}

/*Dropdown*/

.dropdown {
  position: relative;
}

.btn {
    margin-top: 1px;
    height: 38px;
  cursor: pointer;
  color: white;
  background-color: #565e64;
  border-color: #51585e;
  padding: 6px 12px;
  font-size: 1rem;
  border: 1px solid #6c757d;
  border-radius: 0.375rem;

}

.btn::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
  }

  .dropdown-menu{
    display: block;
    position: absolute;
    inset: 0px auto auto 0px;
    margin: 0px;
    transform: translate(0px, 32px);
    z-index: 99;
    min-width: 10rem;
    padding: 0.5rem 0;
    font-size: 1rem;
    text-align: left;
    list-style: none;
    background-color: #343a40;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 0.375rem;
  }
/*
  #touch:focus + .dropdown-menu {
    display: block;
  }
*/

.mat-menu-item {
    line-height: 0 !important;
    height: 30px !important;
    text-align: center !important;
}  




  .dropdown-item {
    cursor: pointer;
    display: list-item;
    text-align: center;
    padding: 0.25rem 1rem;
    
  }

.dropdown-item:hover{
    background-color: #ffffff36;
}

.dropdown-item > label {
    user-select: none;
    cursor: pointer;
}

.active {
    background-color: #5c5c5c;
}

.selected {
  background-color: #0d6efd !important;
  color: #ffff !important;
  cursor: none;
}


/*List*/
.list-group{
  padding: 0;
  display: flex;
  flex-direction: column;
  border-radius: 0.375rem;
}


.list-group-item {
  position: relative;
    display: block;
    padding: 0.5rem 1rem;
    color: #f8f8f8;
    text-decoration: none;
    background-color: #212529;
    border: 1px solid  #495057;
    
}

.list-group-item:hover {
  cursor: pointer;
  background-color: #394046;
}

.list-group-item:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.list-group-item+.list-group-item {
  border-top-width: 0;
}

.list-group-item:last-child {
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}