.myTitle {
    color: rgb(68, 67, 66);
    position: relative;
    padding-top: 2rem;
    padding-left: 2rem;
    font-size: 1.3rem;
    user-select: none;
    letter-spacing: 0.1em;
    font-weight: 720;
}
