.Row {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    mat-label {
        color: #9f9f9f;
    }

    .Danger {
        margin: 5px 0px;
        padding: 7px 10px;
        color: #b02a37;
        background-color: #f1aeb5;
        border-radius: 0.375rem;
        border: 1px solid #b02a37;
    }

    .Selectable {
        padding: 0.5rem 0.75rem;
        border-radius: 0.375rem;
        border: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;

        &:hover {
            outline: 0;
        }
    }

    .Provider {
        cursor: pointer;
        background-color: white;
        color: black;
        padding: 0.375rem 0.75rem;
        border-radius: 0.375rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;

        label {
            user-select: none;
            cursor: pointer;
        }

        &:hover {
            background-color: rgb(220, 220, 220);
        }
    }

    .on {
        background-color: rgb(191, 191, 191);
    }
}

.InputForm {
    padding: 0.375rem 0.75rem;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    appearance: none;
    border: 0;

    &:focus {
        outline: 0;
    }
}

.InputGroup {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;

    .InputForm {
        border-radius: 0.375rem 0 0 0.375rem;
    }

    .Legend {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        text-align: center;
        white-space: nowrap;
        background-color: #c2185b;
        border: 0;
        border-radius: 0 0.375rem 0.375rem 0;

        &:hover {
            background-color: #911245;
        }
    }
}

.Buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    .Dark {
        background-color: #5c636a !important;
        &:hover {
            background-color: #404549 !important;
        }
    }
    .Button {
        cursor: pointer;
        color: white;
        border-radius: 0.375rem;
        border: 0;
        background-color: #198754;
        padding: 6px 12px;
        font-size: 16px;
        text-align: center;
        &:hover {
            background-color: #15603d;
        }
        &:disabled {
            background-color: #434547;
        }
    }
}