<h4>Selecciona al responsable</h4>


<mat-dialog-content >

    <input type="text" class="input-group-text" [(ngModel)]="Search" placeholder="BUSCAR RESPONSABLE">


    <div class="lista-asesores">
        <ul class="list-group">
            <li class="list-group-item active">Resultados:</li>
            <li class="list-group-item selectionable"
                style="cursor: pointer;" (click)="SelectProvider(provider)"
                *ngFor="let provider of Providers | buscarciber : Search">
                {{ provider.nombre }} - {{ provider.rol }}
            </li>
        </ul>
    </div>



</mat-dialog-content>

<mat-dialog-actions align ="end">
    <app-action-button [Legend]="'Cancelar'"
        mat-dialog-close></app-action-button>
</mat-dialog-actions>