<h3>Cambio de contraseña</h3>

<form [formGroup]="passwordForm">
    <div class="input-group2 mb-3">
        <label>Nueva contraseña: </label>
        <input class="form-control-edit" formControlName="newPass" type="password" placeholder="Escribe una nueva contraseña">
    </div>  <div class="input-group2 mb-3">
        <label>Confirma la contraseña: </label>
        <input class="form-control-edit" formControlName="confPass" type="password" placeholder="Escribe una nueva contraseña">
    </div>
 
   
<button class="btn2" (click)="generaNss()">Generar contraseña</button>
<button class="btn" (click)="newPasswor($event)">Guardar contraseña</button>
</form>



