<div class="content">
    <h3> CAMBIAR CONTRASEÑA </h3>

    <mat-dialog-content class="mat-typgraphy">

        <div class="Row">
            <mat-label>Contraseña: </mat-label>
            <div class="InputGroup wLegend">
                <input class="InputForm" [(ngModel)]="pass" [type]="TimeToView==0? 'password': 'text'"
                    placeholder="Escribe una contraseña">
                <span (click)="AutoPassGen()" class="Legend">Generar</span>
            </div>
            <mat-progress-bar *ngIf="TimeToView!=0" mode="determinate" value=" {{ TimeToView*10 }} "></mat-progress-bar>
        </div>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <div class="Buttons" style="margin-top: 1rem;">
            <button type="submit" class="Button Dark" mat-dialog-close>Cerrar</button>
            <button type="submit" class="Button" [disabled]="pass.length < 1 && pass == ''" mat-button (click)="changePassword()">Guardar</button>
        </div>
    </mat-dialog-actions>
    

</div>