tbody {
    text-align: center;
    td {
        align-self: center;
        vertical-align: middle;
        align-items: center;
        font-size: 1rem;
        padding: 0.5rem;
        line-height: normal;
        height: fit-content;
        width: fit-content;
    }
}