<div class="mySubTitle">
    <label for=mySubTitle>ACTAS AL INSTANTE</label>
    <hr>
    <label class="mySubTitle2">EDITAR USUARIO</label>
</div>
<div class="conteiner-c">
        <div label="Datos generales">
            <form>
                <label class="">Nombre de usuario: </label>
                <input type="text" class="input-group-text" id="username" 
                    placeholder="Escribe el usuario">
                    <label class="">Contraseña: </label>
                <input type="text" class="input-group-text" id="username" 
                    placeholder="Escribe una Contraseña">
                    <label class="">Rol actual</label>
                <input type="text" class="input-group-text" id="username" disabled>
                    </form>

                    </div>

<!-- <div class="mySubTitle">
    <label for=mySubTitle>ACTAS AL INSTANTE</label>
    <hr>
    <label class="mySubTitle2">EDITAR USUARIO</label>
</div>
<div class="conteiner-c">
    <mat-stepper #stepper>
        <mat-step label="Datos generales">
            <form>
                <mat-step class="">Nombre de usuario: </mat-step>
                <input type="text" class="input-group-text" id="username" 
                    placeholder="Escribe el usuario">
                    <mat-step class="">Contraseña: </mat-step>
                <input type="text" class="input-group-text" id="username" 
                    placeholder="Escribe una Contraseña">
                    <mat-step class="">Rol actual</mat-step>
                <input type="text" class="input-group-text" id="username" disabled>
                    </form>
        </mat-step>
            </mat-stepper>
                    </div> -->
                    


