.conteiner-c {
    width: 34rem;
    align-items: center;
    overflow: auto; 
    max-height: 39rem; 
}
.mySubTitle {
    text-align: center;
    text-transform: uppercase;
    color: rgb(202, 47, 73) !important;
    font-size: 1.5rem;
    user-select: none;
    font-weight: 700;
    letter-spacing: 0.2em;
}
.mySubTitle2 {
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255) !important;
    font-size: 0.8rem;
    user-select: none;
    font-weight: 700;
    letter-spacing: 0.2em;
}
.btn {
  margin-top: 4px;
  height: 38px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(108, 117, 125);
  border-color: rgb(108, 117, 125);
  padding: 6px 12px;
  font-size: 1rem;
  border: 1px solid #6c757d;
  border-radius:  0.375rem 0.375rem;
}
.input-group-text {
    display: flex;
    align-items: center;
    padding: 0.375rem 8.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius:  0.375rem 0.375rem ;
}
.input-group-text2 {
    display:flex;
    padding: 0.4rem 9.9rem;
    font-size: 1rem;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius:  0.375rem 0.375rem ;
}
.input-group {
    display: flex;
    flex-wrap: wrap;
    padding: 0.375rem 0.2rem;
    align-items: center;
    width: 100%;
    background-color: #e9ecef;
    border: 1px solid #ffffff;
    border-radius:  0.375rem 0.375rem;
  }
  .input-group-3 {
    display:flex;
    padding: 0.2rem 9rem;
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    background-color: rgb(1, 8, 31);
    border: 2.8px solid rgb(1, 8, 31);
    align-items: left;
}
.btn2 {
    margin-top: 4px;
    height: 32px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(1, 8, 31);
    border-color: rgb(108, 117, 125);
    padding: 9px 13.5rem;
    font-size: 1rem;
    border: 1px solid rgb(1, 8, 31);
    border-radius:  0.375rem 0.375rem;
    text-align: center;
  }
  .container-error-message{
    border: 1px solid;
    margin: 8px 0px;
    padding:5px 8px 8px 5px;
    background-repeat: no-repeat;
    background-position: 10px center;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    text-align:left;
    width:auto;
}