<div class="myCard">
    <div class="myTitle">
        <label for="myTitle">ACTAS</label>
    </div>

    
    <button  matTooltip="Nueva petición" matTooltipClass="tooltip" (click)="newRequest()" class="add" mat-mini-fab color="secundary" aria-label="Example icon button with a menu icon">
        <mat-icon>add</mat-icon>
      </button>

    <app-card-information
        [Cards]="CardInfo"
        (onClicked)="cardsButtons($event)"
    ></app-card-information>
    
    <div *ngIf="View">
        <app-card-filter
        [Filters]="CardFilter"
        (onClicked)="selectDate($event)"
        (onKey)="searchDoc($event)"
        ></app-card-filter>
        
        <div  class="row">
            <ng-container *ngIf="Peticiones | searching: Search as search">
                <div *ngFor="let req of Peticiones | searching: Search">
                    <app-card-requests class="animate__animated animate__fadeInUp" [Info]="req" (ReAsign)="reAssign($event)" (Download)="onDownloadRequest($event)"></app-card-requests>
                </div>

                <app-empty-state *ngIf="search.length == 0"></app-empty-state>
                
            </ng-container>


        </div>
    </div>

</div>









