<div>
    <div class="mySubTitle">
        <label for=mySubTitle>ACTAS AL INSTANTE</label>
        <hr>
        <label class="mySubTitle2">ALTA A USUARIOS</label>
    </div>
    <div class="conteiner-c">
        <mat-stepper #stepper>
            <mat-step [stepControl]="DatosGForm" errorMessage="Incompleto" label="Datos generales">
                <form [formGroup]="DatosGForm">
                    <mat-label class="">Nombre de usuario: </mat-label>
                    <input formControlName="username" type="text" class="myInputText" id="username"
                        placeholder="Escribe el usuario">
                    <div class="alert-danger"
                        *ngIf="DatosGForm.get('username')?.touched && DatosGForm.get('username')?.errors?.['required']">
                        <div class="container-error-message">
                            Nombre requerido(a)
                        </div>
                    </div>

                    <label class="">Contraseña:</label>
                    <!-- <input formControlName="password" type="password" class="input-group-text" id="password"
                        name="address" placeholder="Escribe una Contraseña" required> -->

                        <div class="input-group">
                            <input formControlName="password" [type]="TimeToView==0? 'password': 'text'" class="form-control" placeholder="Escribe una Contraseña" aria-label="Escribe una Contraseña" aria-describedby="basic-addon2">
                            <span (click)="AutoPassGen()" class="input-group-text keygen" id="basic-addon2"> AUTO-GENERAR </span>
                          </div>

                          <mat-progress-bar *ngIf="TimeToView!=0" mode="determinate" value=" {{ TimeToView*10 }} "></mat-progress-bar>

                    <div class="alert-danger"
                        *ngIf="DatosGForm.get('password')?.touched && DatosGForm.get('password')?.errors?.['required']">
                        <div class="container-error-message">
                            Contraseña requerido(a)
                        </div>
                    </div>

                    <label class="">Rol:</label>

                    <select formControlName="rol" class="custom-select" style="height: 2.4rem; text-align: center;"
                        id="rol" name="newRol" placeholder="Elige un rol" required>
                        <option value="Supervisor" *ngIf="myData?.rol== 'Admin'">Supervisor</option>
                        <option value="Asesor" *ngIf="myData?.rol=='Supervisor' || myData?.rol=='Admin'">Asesor</option>
                        <option value="Cliente" *ngIf="myData?.rol=='Supervisor' || myData?.rol=='Admin' || myData?.rol=='Asesor'">Cliente
                        </option>
                        <option value="Sucursal"
                            *ngIf="myData?.rol=='Supervisor' || myData?.rol=='Admin' || myData?.rol=='Asesor' || myData?.rol=='Cliente'">
                            Sucursal</option>
                        <option value="Empleado">Empleado</option>
                    </select>
                    <div *ngIf="DatosGForm.get('rol')?.value != 'Supervisor'" class="form-group">
                        
                        <label>Responsable:</label>
                        <div class="container-provider"  (click)="selectProvider()">
                            <label for="container-provider" *ngIf="Provider"> {{ Provider?.nombre?Provider?.nombre: Provider?.username  + ' - ' + Provider?.rol }} </label>
                            <label for="container-provider" *ngIf="!Provider"> Busca al responsable</label>
                        </div>
                    </div>
                   <br>
                    <div>
                        <button type="button" class="btn" mat-dialog-close>Cancelar</button>
                        <button type="submit" style="margin-left: 18rem" class="btn" mat-button matStepperNext
                            [disabled]="DatosGForm.invalid">Siguiente</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="CostosForm" errorMessage="Incompleto"  label="Precios requeridos">
                <form [formGroup]="CostosForm">
                    <button class="btn2" id="btn2" (click)="change()" *ngIf="!VUnit">Unitario</button>
                    <button class="btn2" id="btn3" (click)="change2()" *ngIf="!VEsta">Estados</button>
                    <hr>
                    <label class="">A.NACIMIENTO</label>
                    <input type="number" class="myInput" id="nac" *ngIf="!VUnit" [disabled]="isBloq"
                        placeholder="Precio por estado">
                    <input type="number" class="myInput" id="nac" *ngIf="!VEsta" placeholder="Precio Unitario" formControlName="nac"  min="1">
                    <hr>
                    <div class="row" *ngIf="!VUnit">
                        <div class="col">
                            <label class="" for="">BAJA CALIFORNIA: </label>
                            <input formControlName="{{ EstadosKeys.BAJACALIFORNIA }}" type="number" class="myInput" min="1">
                            <label class="" >YUCATAN: </label>
                            <input formControlName="{{ EstadosKeys.YUCATAN }}" type="number" class="myInput" min="1">
                            <label class="" for="">CALIFORNIA SUR:</label>
                            <input formControlName="{{ EstadosKeys.BAJACALIFORNIASUR}}" type="number"
                                class="myInput" min="1">
                            <label class="" for="">VERACRUZ: </label>
                            <input formControlName="{{ EstadosKeys.VERACRUZ }}" type="number" class="myInput"
                                id="VERACRUZ" min="1">
                            <label class="" for="">COAHUILA: </label>
                            <input formControlName="{{ EstadosKeys.COAHUILA }}" type="number" class="myInput"
                                id="COAHUILA" min="1">
                            <label class="" for="">MICHOACAN: </label>
                            <input formControlName="{{ EstadosKeys.MICHOACAN }}" type="number" class="myInput"
                                id="MICHOACAN" min="1">
                            <label class="" for="">TLAXCALA: </label>
                            <input formControlName="{{ EstadosKeys.TLAXCALA }}" type="number" class="myInput"
                                id="TLAXCALA" min="1">
                            <label class="" for="">GUANAJUATO: </label>
                            <input formControlName="{{ EstadosKeys.GUANAJUATO }}" type="number" class="myInput"
                                id="GUANAJUATO" min="1">
                            <label class="" for="">CDMX: </label>
                            <input formControlName="{{ EstadosKeys.CDMX }}" type="number" class="myInput" id="CDMX">
                            <label class="" for="">CAMPECHE: </label>
                            <input formControlName="{{ EstadosKeys.CAMPECHE }}" type="number" class="myInput"
                                id="CAMPECHE" min="1">
                            <label class="" for="">NUEVOLEON: </label>
                            <input formControlName="{{ EstadosKeys.NUEVOLEON }}" type="number" class="myInput"
                                id="NUEVOLEON" min="1">
                        </div>
                        <div class="col">
                            <label class="" for="">DURANGO: </label>
                            <input formControlName="{{ EstadosKeys.DURANGO }}" type="number" class="myInput"
                                id="DURANGO" min="1">
                            <label class="" for="">AGUASCALIENTES: </label>
                            <input formControlName="{{ EstadosKeys.AGUASCALIENTES }}" type="number" class="myInput"
                                id="AGUASCALIENTES" min="1">
                            <label class="" for="">CHIAPAS: </label>
                            <input formControlName="{{ EstadosKeys.CHIAPAS }}" type="number" class="myInput"
                                id="CHIAPAS" min="1">
                            <label class="" for="">HIDALGO: </label>
                            <input formControlName="{{ EstadosKeys.HIDALGO }}" type="number" class="myInput"
                                id="HIDALGO" min="1">
                            <label class="" for="">PUEBLA: </label>
                            <input formControlName="{{ EstadosKeys.PUEBLA }}" type="number" class="myInput"
                                id="PUEBLA" min="1">
                            <label class="" for="">QUERETARO: </label>
                            <input formControlName="{{ EstadosKeys.QUERETARO }}" type="number" class="myInput"
                                id="QUERETARO" min="1">
                            <label class="" for="">CHIHUAHA: </label>
                            <input formControlName="{{ EstadosKeys.CHIHUAHA }}" type="number" class="myInput"
                                id="CHIHUAHA" min="1">
                            <label class="" for="">OAXACA: </label>
                            <input formControlName="{{ EstadosKeys.OAXACA }}" type="number" class="myInput"
                                id="OAXACA" min="1">
                            <label class="" for="">JALISCO: </label>
                            <input formControlName="{{ EstadosKeys.JALISCO }}" type="number" class="myInput"
                                id="JALISCO" min="1">
                            <label class="" for="">NAYARIT: </label>
                            <input formControlName="{{ EstadosKeys.NAYARIT }}" type="number" class="myInput"
                                id="NAYARIT" min="1">
                            <label class="" for="">MEXICO: </label>
                            <input formControlName="{{ EstadosKeys.MEXICO }}" type="number" class="myInput"
                                id="MEXICO" min="1">
                        </div>
                        <div class="col">
                            <label class="" for="">SONORA: </label>
                            <input formControlName="{{ EstadosKeys.SONORA }}" type="number" class="myInput"
                                id="SONORA" min="1">
                            <label class="" for="">SANLUISPOTOSI: </label>
                            <input formControlName="{{ EstadosKeys.SANLUISPOTOSI }}" type="number" class="myInput"
                                id="SANLUISPOTOSI" min="1">
                            <label class="" for="">SINALOA: </label>
                            <input formControlName="{{ EstadosKeys.SINALOA }}" type="number" class="myInput"
                                id="SINALOA" min="1">
                            <label class="" for="">GUERRERO: </label>
                            <input formControlName="{{ EstadosKeys.GUERRERO }}" type="number" class="myInput"
                                id="GUERRERO" min="1">
                            <label class="" for="">ZACATECAS: </label>
                            <input formControlName="{{ EstadosKeys.ZACATECAS }}" type="number" class="myInput"
                                id="ZACATECAS" min="1">
                            <label class="" for="">TAMAULIPAS: </label>
                            <input formControlName="{{ EstadosKeys.TAMAULIPAS }}" type="number" class="myInput"
                                id="TAMAULIPAS" min="1">
                            <label class="" for="">MORELOS: </label>
                            <input formControlName="{{ EstadosKeys.MORELOS }}" type="number" class="myInput"
                                id="MORELOS" min="1">
                            <label class="" for="">TABASCO: </label>
                            <input formControlName="{{ EstadosKeys.TABASCO }}" type="number" class="myInput"
                                id="TABASCO" min="1">
                            <label class="" for="">COLIMA: </label>
                            <input formControlName="{{ EstadosKeys.COLIMA }}" type="number" class="myInput"
                                id="COLIMA" min="1">
                            <label class="" for="">QUINTANAROO: </label>
                            <input formControlName="{{ EstadosKeys.QUINTANAROO }}" type="number" class="myInput"
                                id="QUINTANAROO" min="1">
                            <label class="" for="">EXTRANJERO: </label>
                            <input formControlName="{{ EstadosKeys.EXTRANJERO }}" type="number" class="myInput"
                                id="EXTRANJERO" min="1">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <label class="" for="">A.Matrimonio: </label>
                            <input formControlName="mat" type="number" class="myInput" id="mat"  min="1">
                            <div class="alert-danger" *ngIf="CostosForm.get('mat')?.errors?.['required']">
                                <div class="container-error-message">
                                    Ingrese el costo
                                </div>
                            </div>
                            <label class="" for="">A.Defuncion: </label>
                            <input formControlName="def" type="number" class="myInput" id="def"  min="1">
                            <div class="alert-danger" *ngIf="CostosForm.get('def')?.errors?.['required']">
                                <div class="container-error-message">
                                    Ingrese el costo
                                </div>
                            </div>
                            <label class="" for="">Vijencia de derechos: </label>
                            <input formControlName="der" type="number" class="myInput" id="der"  min="1">
                            <div class="alert-danger" *ngIf="CostosForm.get('der')?.errors?.['required']">
                                <div class="container-error-message">
                                    Ingrese el costo
                                </div>
                            </div>
                            <label class="" for="">RFC: </label>
                            <input formControlName="rfc" type="number" class="myInput" id="rfc"  min="1">
                            <div class="alert-danger" *ngIf="CostosForm.get('rfc')?.errors?.['required']">
                                <div class="container-error-message">
                                    Ingrese el costo
                                </div>
                            </div>
                        </div>
                        <div class="col">

                            <label class="" for="">A.Divorcio: </label>
                            <input formControlName="div" type="number" class="myInput" id="div"  min="1">
                            <div class="alert-danger" *ngIf="CostosForm.get('rfc')?.errors?.['required']">
                                <div class="container-error-message">
                                    Ingrese el costo
                                </div>
                            </div>
                            <label class="" for="">Semanas cotizadas: </label>
                            <input formControlName="cot" type="number" class="myInput" id="cot"  min="1">
                            <div class="alert-danger" *ngIf="CostosForm.get('cot')?.errors?.['required']">
                                <div class="container-error-message">
                                    Ingrese el costo
                                </div>
                            </div>
                            <label class="" for="">NSS: </label>
                            <input formControlName="nss" type="number" class="myInput" id="nss"  min="1">
                            <div class="alert-danger" *ngIf="CostosForm.get('nss')?.errors?.['required']">
                                <div class="container-error-message">
                                    Ingrese el costo
                                </div>
                            </div>
                            <label class="" for="">Const.Inhabilitación: </label>
                            <input formControlName="inh" type="number" class="myInput" id="inh"  min="1">
                            <div class="alert-danger" *ngIf="CostosForm.get('inh')?.errors?.['required']">
                                <div class="container-error-message">
                                    Ingrese el costo
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <br>
                    <label class="mySubTitle2">-----------------------Nuevos Servicios-----------------------</label>
                    <div class="row">
                        <div class="col">
                            <label class="" for="">Aviso de retencion infonavit </label>
                            <input formControlName="ret" type="number" class="myInput" id="ret" min="1">
                            <div class="alert-danger" *ngIf="CostosForm.get('ret')?.errors?.['required']">
                                <div class="container-error-message">
                                    Ingrese el costo
                                </div>
                            </div>
                            <label class="" for="">Estado de cuenta infonavit: </label>
                            <input formControlName="ecu" type="number" class="myInput" id="ecu" min="1">
                            <div class="alert-danger" *ngIf="CostosForm.get('ecu')?.errors?.['required']" >
                                <div class="container-error-message">
                                    Ingrese el costo
                                </div>
                            </div>
                            <label class="" for="">Alta de RFC por primerva vez: </label>
                            <input formControlName="arfc" type="number" class="myInput" id="arfc" min="1">
                            <div class="alert-danger" *ngIf="CostosForm.get('arfc')?.errors?.['required']">
                                <div class="container-error-message">
                                    Ingrese el costo
                                </div>
                            </div>
                            <label class="" for="">Digitalizacion de actas: </label>
                            <input formControlName="dnac" type="number" class="myInput" id="dnac" min="1">
                            <div class="alert-danger" *ngIf="CostosForm.get('dnac')?.errors?.['required']">
                                <div class="container-error-message">
                                    Ingrese el costo
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <label class="" for="">Aviso de suspension infonavit: </label>
                            <input formControlName="sus" type="number" class="myInput" id="sus" min="1">
                            <div class="alert-danger" *ngIf="CostosForm.get('sus')?.errors?.['required']">
                                <div class="container-error-message">
                                    Ingrese el costo
                                </div>
                            </div>
                            <label class="" for="">Rastreo de "Mi cuenta infonavit": </label>
                            <input formControlName="reset" type="number" class="myInput" id="reset" min="1">
                            <div class="alert-danger" *ngIf="CostosForm.get('reset')?.errors?.['required']">
                                <div class="container-error-message">
                                    Ingrese el costo
                                </div>
                            </div>
                            <label class="" for="">CURP: </label>
                            <input formControlName="curp" type="number" class="myInput" id="curp" min="1">
                            <div class="alert-danger" *ngIf="CostosForm.get('curp')?.errors?.['required']">
                                <div class="container-error-message">
                                    Ingrese el costo
                                </div>
                            </div>
                            <label class="" for="">CFE: </label>
                            <input formControlName="cfe" type="number" class="myInput" id="cfe" min="1">
                            <div class="alert-danger" *ngIf="CostosForm.get('cfe')?.errors?.['required']">
                                <div class="container-error-message">
                                    Ingrese el costo
                                </div>
                            </div>

                        </div>
                    </div>
                    <div><br>
                        <button class="btn" mat-button matStepperPrevious>Atras</button>
                        <button style="margin-left: 20.248rem" class="btn" mat-button matStepperNext
                            [disabled]="CostosForm.invalid">Siguiente</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="FinForm" errorMessage="Incompleto" label="Finalizar">
                <form [formGroup]="FinForm">
                    <mat-label class="">Nombre de negocio: </mat-label>
                    <input formControlName="nombre" type="text" class="myInputText" id="name"
                        placeholder="Escribe el nombre del negocio">
                    <div class="alert-danger"
                        *ngIf="FinForm.get('nombre')?.touched && FinForm.get('nombre')?.errors?.['required']">
                        <div class="container-error-message">
                            Nombre de Negocio requerido(a)
                        </div>
                    </div>
                    <mat-label class="">Tipo de negocio: </mat-label>
                    <input formControlName="type" type="text" class="myInputText" id="type"
                        placeholder="Escribe el tipo de negocio">
                    <div class="alert-danger"
                        *ngIf="FinForm.get('type')?.touched && FinForm.get('type')?.errors?.['required']">
                        <div class="container-error-message">
                            Tipo de Negocio requerido(a)
                        </div>
                    </div>
                    <mat-label class="">Estatus: </mat-label>
                    <select formControlName="status" class="input-group-text2" id="status">
                        <option value="true">Activo</option>
                        <option value="false">Inactivo</option>
                    </select>
                    <br>
                    <div>
                        <button class="btn" mat-button matStepperPrevious>Atras</button>
                        <button style="margin-left: 348px" class="btn" (click)="createOne()"
                            [disabled]="DatosGForm.invalid || CostosForm.invalid || FinForm.invalid">Listo</button>
                    </div>
                </form>
            </mat-step>
        </mat-stepper>
    </div>

</div>