<div>
    <h2>EDITAR USUARIO</h2>
    <mat-dialog-content class="mat-typography">

        <mat-stepper #stepper>
            <mat-step [stepControl]="ProfileData" label="Perfil" errorMessage="Incompleto">
                <form [formGroup]="ProfileData" *ngIf="ProfileData">
                    <div class="Row">
                        <mat-label>Nombre de usuario: </mat-label>
                        <input class="InputForm" formControlName="username" type="text"
                            placeholder="Escribe el usuario">
                        <div class="Danger"
                            *ngIf="ProfileData.get('username')?.touched && ProfileData.get('username')?.errors?.['required']">
                            <div class="container-error-message">
                                Nombre requerido(a)
                            </div>
                        </div>
                    </div>
                    <div class="Row">
                        <mat-label>Contraseña: </mat-label>
                        <div>
                            <button class="changePsswd">Cambiar contraseña</button>
                        </div>
                    </div>
                    <div class="Row">
                        <mat-label>Rol: </mat-label>
                        <select formControlName="rol" class="Selectable" placeholder="Elige un rol" required>
                            <option value="Supervisor" *ngIf="myData?.rol== 'Admin'">Supervisor</option>
                            <option value="Asesor" *ngIf="myData?.rol=='Supervisor' || myData?.rol=='Admin'">Asesor
                            </option>
                            <option value="Cliente"
                                *ngIf="myData?.rol=='Supervisor' || myData?.rol=='Admin' || myData?.rol=='Asesor'">
                                Cliente
                            </option>
                            <option value="Sucursal"
                                *ngIf="myData?.rol=='Supervisor' || myData?.rol=='Admin' || myData?.rol=='Asesor' || myData?.rol=='Cliente'">
                                Sucursal</option>
                            <option value="Empleado">Empleado</option>
                        </select>
                    </div>
                    <div class="Row">
                        <mat-label>Responsable: </mat-label>
                        <div class="Provider" (click)="selectProvider()">
                            <label for="container-provider" *ngIf="Provider"> {{ Provider?.nombre?Provider?.nombre: Provider?.username  + ' - ' + Provider?.rol }} </label>
                            <label for="container-provider" *ngIf="!Provider"> Busca al responsable</label>
                        </div>

                        <div class="Danger"
                            *ngIf="ProfileData.get('provider')?.touched && ProfileData.get('provider')?.errors?.['required']">
                            <div class="container-error-message">
                                Responsable requerido(a)
                            </div>
                        </div>
                    </div>
                    <div class="Buttons">
                        <button type="submit" class="Button Dark" mat-dialog-close>Cancelar</button>
                        <button type="submit" class="Button" [disabled]="ProfileData.invalid" mat-button matStepperNext>Siguiente</button>
                    </div>
                </form>
            </mat-step>

            <mat-step [stepControl]="PricesData" label="Precios" errorMessage="Incompleto">
                <form [formGroup]="PricesData" *ngIf="PricesData">
                    <div class="Row">
                        <mat-label>A. Nacimiento: </mat-label>
                        <div class="InputGroup wLegend">
                            <input class="InputForm" formControlName="nac" type="number"
                                placeholder="Escribe una contraseña">
                            <span class="Legend" (click)="SwitchUnit()">{{ Unit? 'ESTADOS': 'UNITARIO' }}</span>
                        </div>

                        <div class="Danger"
                            *ngIf="ProfileData.get('nac')?.touched && ProfileData.get('nac')?.errors?.['required']">
                            <div class="container-error-message">
                                Precio requerido(a)
                            </div>
                        </div>
                    </div>

                    <div class="Estados" *ngIf="!Unit">
                        <div class="Title">
                            <label for="Estados">Estados</label>
                        </div>
                        <div class="DRow">
                            <div class="Col">
                                <mat-label>BAJA CALIFORNIA: </mat-label>
                                <input min="1" required class="InputForm" formControlName="{{ EstadosKeys.BAJACALIFORNIA }}" type="number"
                                    placeholder="BAJA CALIFORNIA">
                            </div>
                            <div class="Col">
                                <mat-label>YUCATAN: </mat-label>
                                <input min="1" required class="InputForm" formControlName="{{ EstadosKeys.YUCATAN }}" type="number"
                                    placeholder="YUCATAN">
                            </div>
                        </div>
    
                        <div class="DRow">
                            <div class="Col">
                                <mat-label>B. CALIFORNIA SUR: </mat-label>
                                <input min="1" required class="InputForm" formControlName="{{ EstadosKeys.BAJACALIFORNIASUR }}" type="number"
                                    placeholder="B. CALIFORNIA SUR">
                            </div>
                            <div class="Col">
                                <mat-label>VERACRUZ: </mat-label>
                                <input min="1" required class="InputForm" formControlName="{{ EstadosKeys.VERACRUZ }}" type="number"
                                    placeholder="VERACRUZ">
                            </div>
                        </div>
    
                        <div class="DRow">
                            <div class="Col">
                                <mat-label>COAHUILA: </mat-label>
                                <input min="1" required class="InputForm" formControlName="{{ EstadosKeys.COAHUILA }}" type="number"
                                    placeholder="COAHUILA">
                            </div>
                            <div class="Col">
                                <mat-label>MICHOACAN: </mat-label>
                                <input min="1" required class="InputForm" formControlName="{{ EstadosKeys.MICHOACAN }}" type="number"
                                    placeholder="MICHOACAN">
                            </div>
                        </div>
                        
                        <div class="DRow">
                            <div class="Col">
                                <mat-label>TLAXCALA: </mat-label>
                                <input min="1" required class="InputForm" formControlName="{{ EstadosKeys.TLAXCALA }}" type="number"
                                    placeholder="TLAXCALA">
                            </div>
                            <div class="Col">
                                <mat-label>GUANAJUATO: </mat-label>
                                <input min="1" required class="InputForm" formControlName="{{ EstadosKeys.GUANAJUATO }}" type="number"
                                    placeholder="GUANAJUATO">
                            </div>
                        </div>
    
                        <div class="DRow">
                            <div class="Col">
                                <mat-label>CDMX: </mat-label>
                                <input min="1" required class="InputForm" formControlName="{{ EstadosKeys.CDMX }}" type="number"
                                    placeholder="CDMX">
                            </div>
                            <div class="Col">
                                <mat-label>CAMPECHE: </mat-label>
                                <input min="1" required class="InputForm" formControlName="{{ EstadosKeys.CAMPECHE }}" type="number"
                                    placeholder="CAMPECHE">
                            </div>
                        </div>
    
                        <div class="DRow">
                            <div class="Col">
                                <mat-label>NUEVOLEON: </mat-label>
                                <input min="1" required class="InputForm" formControlName="{{ EstadosKeys.NUEVOLEON }}" type="number"
                                    placeholder="NUEVOLEON">
                            </div>
                            <div class="Col">
                                <mat-label>DURANGO: </mat-label>
                                <input min="1" required class="InputForm" formControlName="{{ EstadosKeys.DURANGO }}" type="number"
                                    placeholder="DURANGO">
                            </div>
                        </div>
    
                        <div class="DRow">
                            <div class="Col">
                                <mat-label>AGUASCALIENTES: </mat-label>
                                <input min="1" required class="InputForm" formControlName="{{ EstadosKeys.AGUASCALIENTES }}" type="number"
                                    placeholder="AGUASCALIENTES">
                            </div>
                            <div class="Col">
                                <mat-label>CHIAPAS: </mat-label>
                                <input min="1" required class="InputForm" formControlName="{{ EstadosKeys.CHIAPAS }}" type="number"
                                    placeholder="CHIAPAS">
                            </div>
                        </div>
    
                        <div class="DRow">
                            <div class="Col">
                                <mat-label>HIDALGO: </mat-label>
                                <input min="1" required class="InputForm" formControlName="{{ EstadosKeys.HIDALGO }}" type="number"
                                    placeholder="HIDALGO">
                            </div>
                            <div class="Col">
                                <mat-label>PUEBLA: </mat-label>
                                <input min="1" required class="InputForm" formControlName="{{ EstadosKeys.PUEBLA }}" type="number"
                                    placeholder="PUEBLA">
                            </div>
                        </div>
    
                        <div class="DRow">
                            <div class="Col">
                                <mat-label>QUERETARO: </mat-label>
                                <input min="1" required class="InputForm" formControlName="{{ EstadosKeys.QUERETARO }}" type="number"
                                    placeholder="QUERETARO">
                            </div>
                            <div class="Col">
                                <mat-label>CHIHUAHA: </mat-label>
                                <input min="1" required class="InputForm" formControlName="{{ EstadosKeys.CHIHUAHA }}" type="number"
                                    placeholder="CHIHUAHA">
                            </div>
                        </div>
    
                        <div class="DRow">
                            <div class="Col">
                                <mat-label>OAXACA: </mat-label>
                                <input min="1" required class="InputForm" formControlName="{{ EstadosKeys.OAXACA }}" type="number"
                                    placeholder="OAXACA">
                            </div>
                            <div class="Col">
                                <mat-label>JALISCO: </mat-label>
                                <input min="1" required class="InputForm" formControlName="{{ EstadosKeys.JALISCO }}" type="number"
                                    placeholder="JALISCO">
                            </div>
                        </div>
                        
                        <div class="DRow">
                            <div class="Col">
                                <mat-label>NAYARIT: </mat-label>
                                <input min="1" required class="InputForm" formControlName="{{ EstadosKeys.NAYARIT }}" type="number"
                                    placeholder="NAYARIT">
                            </div>
                            <div class="Col">
                                <mat-label>MEXICO: </mat-label>
                                <input min="1" required class="InputForm" formControlName="{{ EstadosKeys.MEXICO }}" type="number"
                                    placeholder="MEXICO">
                            </div>
                        </div>
    
                        <div class="DRow">
                            <div class="Col">
                                <mat-label>SONORA: </mat-label>
                                <input min="1" required class="InputForm" formControlName="{{ EstadosKeys.SONORA }}" type="number"
                                    placeholder="SONORA">
                            </div>
                            <div class="Col">
                                <mat-label>SAN LUIS POTOSI: </mat-label>
                                <input min="1" required class="InputForm" formControlName="{{ EstadosKeys.SANLUISPOTOSI }}" type="number"
                                    placeholder="SAN LUIS POTOSI">
                            </div>
                        </div>
    
                        <div class="DRow">
                            <div class="Col">
                                <mat-label>SINALOA: </mat-label>
                                <input min="1" required class="InputForm" formControlName="{{ EstadosKeys.SINALOA }}" type="number"
                                    placeholder="SINALOA">
                            </div>
                            <div class="Col">
                                <mat-label>GUERRERO: </mat-label>
                                <input min="1" required class="InputForm" formControlName="{{ EstadosKeys.GUERRERO }}" type="number"
                                    placeholder="GUERRERO">
                            </div>
                        </div>
    
                        <div class="DRow">
                            <div class="Col">
                                <mat-label>ZACATECAS: </mat-label>
                                <input min="1" required class="InputForm" formControlName="{{ EstadosKeys.ZACATECAS }}" type="number"
                                    placeholder="ZACATECAS">
                            </div>
                            <div class="Col">
                                <mat-label>TAMAULIPAS: </mat-label>
                                <input min="1" required class="InputForm" formControlName="{{ EstadosKeys.TAMAULIPAS }}" type="number"
                                    placeholder="TAMAULIPAS">
                            </div>
                        </div>
    
                        <div class="DRow">
                            <div class="Col">
                                <mat-label>MORELOS: </mat-label>
                                <input min="1" required class="InputForm" formControlName="{{ EstadosKeys.MORELOS }}" type="number"
                                    placeholder="MORELOS">
                            </div>
                            <div class="Col">
                                <mat-label>TABASCO: </mat-label>
                                <input min="1" required class="InputForm" formControlName="{{ EstadosKeys.TABASCO }}" type="number"
                                    placeholder="TABASCO">
                            </div>
                        </div>
    
                        <div class="DRow">
                            <div class="Col">
                                <mat-label>COLIMA: </mat-label>
                                <input min="1" required class="InputForm" formControlName="{{ EstadosKeys.COLIMA }}" type="number"
                                    placeholder="COLIMA">
                            </div>
                            <div class="Col">
                                <mat-label>QUINTANAROO: </mat-label>
                                <input min="1" required class="InputForm" formControlName="{{ EstadosKeys.QUINTANAROO }}" type="number"
                                    placeholder="QUINTANAROO">
                            </div>
                        </div>
    
                        <div class="DRow">
                            <div class="Col">
                                <mat-label>EXTRANJERO: </mat-label>
                                <input min="1" required class="InputForm" formControlName="{{ EstadosKeys.EXTRANJERO }}" type="number"
                                    placeholder="EXTRANJERO">
                            </div>
                        </div>
                    </div>

                    <div class="DRow">
                        <div class="Col">
                            <mat-label>A. Matrimonio </mat-label>
                            <input min="1" required class="InputForm" formControlName="mat" type="number"
                                placeholder="A. Matrimonio">
                        </div>
                        <div class="Col">
                            <mat-label>A. Divorcio: </mat-label>
                            <input min="1" required class="InputForm" formControlName="div" type="number"
                                placeholder="A. Matrimonio">
                        </div>
                    </div>

                    <div class="DRow">
                        <div class="Col">
                            <mat-label>A. Defunción: </mat-label>
                            <input min="1" required class="InputForm" formControlName="def" type="number"
                                placeholder="A. Defunción">
                        </div>
                        <div class="Col">
                            <mat-label>S. Cotizadas: </mat-label>
                            <input min="1" required class="InputForm" formControlName="cot" type="number"
                                placeholder="S. Cotizadas">
                        </div>
                    </div>

                    <div class="DRow">
                        <div class="Col">
                            <mat-label>V. Derechos: </mat-label>
                            <input min="1" required class="InputForm" formControlName="der" type="number"
                                placeholder="V. Derechos">
                        </div>
                        <div class="Col">
                            <mat-label>NSS: </mat-label>
                            <input min="1" required class="InputForm" formControlName="nss" type="number"
                                placeholder="NSS">
                        </div>
                    </div>

                    <div class="DRow">
                        <div class="Col">
                            <mat-label>RFC: </mat-label>
                            <input min="1" required class="InputForm" formControlName="rfc" type="number"
                                placeholder="RFC">
                        </div>
                        <div class="Col">
                            <mat-label>C. Inhabilitación: </mat-label>
                            <input min="1" required class="InputForm" formControlName="inh" type="number"
                                placeholder="C. Inhabilitación">
                        </div>
                    </div>

                    <div class="DRow">
                        <div class="Col">
                            <mat-label>A. Retención: </mat-label>
                            <input min="1" required class="InputForm" formControlName="ret" type="number"
                                placeholder="A. Retención">
                        </div>
                        <div class="Col">
                            <mat-label>A. Suspensión: </mat-label>
                            <input min="1" required class="InputForm" formControlName="sus" type="number"
                                placeholder="A. Suspensión">
                        </div>
                    </div>

                    <div class="DRow">
                        <div class="Col">
                            <mat-label>E. Cuenta: </mat-label>
                            <input min="1" required class="InputForm" formControlName="ecu" type="number"
                                placeholder="E. Cuenta">
                        </div>
                        <div class="Col">
                            <mat-label>R. Cuenta Infonavit: </mat-label>
                            <input min="1" required class="InputForm" formControlName="reset" type="number"
                                placeholder="R. Cuenta Infonavit">
                        </div>
                    </div>

                    <div class="DRow">
                        <div class="Col">
                            <mat-label>Alta RFC: </mat-label>
                            <input min="1" required class="InputForm" formControlName="arfc" type="number"
                                placeholder="Alta RFC">
                        </div>
                        <div class="Col">
                            <mat-label>D. Acta: </mat-label>
                            <input min="1" required class="InputForm" formControlName="dnac" type="number"
                                placeholder="D. Acta">
                        </div>
                    </div>

                    <div class="DRow">
                        <div class="Col">
                            <mat-label>CURP: </mat-label>
                            <input min="1" required class="InputForm" formControlName="curp" type="number"
                                placeholder="CURP">
                        </div>
                        <div class="Col">
                            <mat-label>CFE: </mat-label>
                            <input min="1" required class="InputForm" formControlName="cfe" type="number"
                                placeholder="CFE">
                        </div>
                    </div>
                    

                    <div class="Buttons" style="margin-top: 1rem;">
                        <button type="submit" class="Button Dark" matStepperPrevious>Atras</button>
                        <button type="submit" class="Button" [disabled]="PricesData.invalid" mat-button matStepperNext>Siguiente</button>
                    </div>
                </form>
            </mat-step>

            <mat-step [stepControl]="MetaData" label="Datos generales" errorMessage="Incompleto">
                <form [formGroup]="MetaData" *ngIf="MetaData">
                    <div class="Row">
                        <mat-label>Nombre del negocio: </mat-label>
                        <input class="InputForm" formControlName="nombre" type="text"
                            placeholder="Nombre del negocio">
                        <div class="Danger"
                            *ngIf="ProfileData.get('nombre')?.touched && ProfileData.get('nombre')?.errors?.['required']">
                            <div class="container-error-message">
                                Nombre del negocio requerido(a)
                            </div>
                        </div>
                    </div>

                    <div class="Row">
                        <mat-label>Tipo del negocio: </mat-label>
                        <input class="InputForm" formControlName="type" type="text"
                            placeholder="Tipo del negocio">
                        <div class="Danger"
                            *ngIf="ProfileData.get('type')?.touched && ProfileData.get('type')?.errors?.['required']">
                            <div class="container-error-message">
                                Tipo del negocio requerido(a)
                            </div>
                        </div>
                    </div>
                    
                    <div class="Row">
                        <mat-label>Estatus: </mat-label>
                        <select formControlName="status" class="Selectable" placeholder="Elige un rol" required>
                            <option value="true">Activo</option>
                            <option value="false">Inactivo</option>
                        </select>
                    </div>

                    <div class="Buttons" style="margin-top: 1rem;">
                        <button type="submit" class="Button Dark" matStepperPrevious>Atras</button>
                        <button type="submit" class="Button" [disabled]="MetaData.invalid" mat-button (click)="Save()">Guardar</button>
                    </div>
                </form>
            </mat-step>

        </mat-stepper>



    </mat-dialog-content>

</div>